@font-face {
    font-family: myFirstFont;
    src: url(TESLA.ttf);
}
@font-face {
    font-family: Japane;
    src: url(JapanStyle.otf);
}

.burger{
     list-style: none;
}
* {
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
a {
    /*color: black;*/
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
}
li {
    cursor: pointer;
    margin: 20px 10px;
    padding: 0px 10px;
}
.c {
    background-color: aqua;
}
.c:hover {
    color: yellow;
}

.header {
    background-color: rgba(1, 1, 1, 0);
    display: flex;
    /*position: fixed;*/
    animation-duration: 1s;
    animation-name: headerAnimation;
}

/*@media screen and (max-width: 200px)  {
    header {
        
    }
}*/



@keyframes headerAnimation {
    from {
        margin-top: -5%;
    }
    to {
        margin-top: 0%;
    }
}

/*.spacingDivHeader {
    display: flex;
    margin-left: 170px;
}*/
div.burger a:hover{
    color: #A60425FF;
    border: 1px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(130, 130, 130, 0.5);
}
li:hover {
    color: #A60425FF;
    border: 1px;
    border-radius: 10px;
    background-color: rgba(130, 130, 130, 0.5);
}


.mainIcon {
    margin-top: 0px;
    margin-left: 0px;
    font-family: myFirstFont;
    font-variant: small-caps;
}
.mainIcon h1{
    margin: 0px;
    padding: 0px;
}
.mainIcon a{
    text-decoration: none;
    color: black;
    margin-top: 0;
    padding-top: 0; 
}
.mainIcon a:hover {
    color: #A60425FF;
}

body {
    background-color: #bfc6c7;

}
.containe{
    background-image: url("bg-png.png");
    background-size: cover;
    background-position: center;
    height: 1000px;
    text-align: center;
}
.mainDiv {
    padding-top: 100px;
}
.mainWord {
   /*padding-left: 600px;*/
    font-size: 70px;
    color: #A60425FF;
    font-family: Japane;
    animation-duration: 1s;
    /*animation-name: WordAppearing;*/
    text-align: center;
}
@keyframes WordAppearing {
    from {
        padding-left: 500px;
    }
    to {
        padding-left: 0px;
    }
}
.link {
   /* padding-left: 710px;*/
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    animation-duration: 1s;
    text-align: center;
    animation-name: linkAppearing;
}
a {

    color: #000000;
}
@keyframes linkAppearing {
    from {
        padding-left: 50px;
    }
    to {
        padding-left: 40px;
    }
}


/*.btnDiv {
    position: absolute;
    top: 600px;
    left: 500px;
    animation-duration: 1s;
    animation-name: btnDiv;
}*/
/*@keyframes btnDiv {
    from {
        top: 650px;
    }
    to {
        top: 600px;
    }
}*/


.btnBlack {
    display: block;
    padding: 9px 60px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 15px;
    border: 0px;
}
.btnBlack:hover {
    color: rgba(138, 3, 3, 1);
    background-color: rgba(255, 255, 255, 0.7);
    border: 0px;
}
.btnBlack:active{
    background-color: gray;

}
.btn2{
    margin-top: 20px;
}

.btnWhite {
    text-align: center;
    padding: 10px;
    margin: auto;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    color: #302F28FF;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 15px;
    border: 0px;
}



.btnWhite:hover {
    color: white;
    background-color: rgba(138, 3, 3, 0.7);
    border: 0px;
}
.btnWhite:active{
    background-color: gray;
}


/*i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-left: 750px;
    margin-top: 410px;
    animation: down 3s infinite;
}*/
/*@keyframes down {
    from {
        margin-top: 410px;
    }
    50% {
        margin-top: 430px;
    }
    to {
        margin-top: 410px;
    }
}*/
.btn1{
    margin: auto;
    margin-bottom: 15px;
}
.btn2{
    margin: auto;
}

/*.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}*/
.buter{
  float: left;
  padding-bottom: 5rem;
}
label{
    /*display: contents;*/
  margin: 8px 0 0 0px;
  font-size: 30px;
  display: none;
}
#toggle{
  display: none;
}
#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
#okno {
    z-index: 2;
    width: 450px;
    height: 320px;
    text-align: center;
    padding: 15px;
    border: 3px solid gray;
    border-radius: 10px;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid gray;
    color: black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}
.move-bg-car{
    position: absolute;
    z-index: 0;
    padding-top: 330px;
    padding-left: 358px;
    animation-duration: 1.5s;
    animation-name: move-car;
}
@keyframes move-car {
    /*from {
        padding-left: 850px;
        -webkit-filter: blur(0px);
    }
    to {
        -webkit-filter: blur(5px);
        padding-left: 358px;
    }*/
    0% {
        padding-left: 1000px;
        -webkit-filter: blur(18px);
    }
    50% { -webkit-filter: blur(1px);}
    100% {
        padding-left: 358px;
        -webkit-filter: blur(0px);
    }
}
@media (max-width: 760px){
    .arrow{
        display: none;
    }
    .containe{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    /*.mainWord{
        font-size: 150px;
    }*/
    label{
    display: contents;
    cursor: pointer;
  }
  #toggle:checked + .header{
    display: none;
  }
  .header {

    z-index: 1;
  }
  .buter label{
    z-index: 2;
  }
  .burger a{
    font-size: 25px;
  }
  .burger .mainIcon a{
    font-size: 50px;
  }
    .mainDiv .mainWord{
        font-size: 11vw;
    }
    .btn1{
        width: 60%;
    }
    .btn2{
        width: 60%;
    }
}
@media (max-width: 360px){
    .mainDiv .mainWord{
        font-size: 10vw;
    }
    .btn1{
        width: 100px;
    }

}
@media (max-width: 250px){
    .mainDiv .mainWord{
        font-size: 9vw;
    }
    .btn1{
        width: 10px;
    }
}
