@font-face {
    font-family: iconT;
    src: url(/TESLA.ttf);
}
@font-face {
    font-family: text1;
    src: url(/Gotham-Font/Gotham-Bold.otf);
}
.word {
    font-family: text1;
}
.word:hover {
    color: gray;
}

* {
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
.mainIcon {
    margin-top: 10px;
    margin-left: 20px;
    font-family: iconT;
    font-variant: small-caps;
}
.mainIcon a{
    text-decoration: none;
    color: black;
}
.mainIcon a:hover {
    color: #A60425FF;
}

.div1 {
    background-image: url(Photo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.caption {
    position: relative;
    left: 0;
    top: 16%;
    width: 100%;
    text-align: center;
    color: #000;
}

.div2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 1400px;
}



body, html {
    height: 100%;
}
.btn {
    border: 1px black solid;
    background-color: white;
    color:black;
}
.btn:hover {
    border: 1px white solid;
    background-color: black;
    color: white;
}
.titleWord {
    color: white;
}


.desc {
    text-align: center;
    background-color: black;
    color: white;
}

.p {
    margin: 20px;
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.37);
}
.p:hover {
    box-shadow: -2px 3px 6px 0px rgba(0,0,0,0.48);
}
.caption2 {
    position: relative;
    left: 0;
    top: 16%;
    width: 100%;
    text-align: center;
    color: #000;
}
