@font-face {
    font-family: iconT;
    src: url(res_shop/fonts/TESLA.ttf);
}
@font-face {
    font-family: text1;
    src: url(Gotham-Font/Gotham-Bold.otf);
}

.mainIcon {
    margin-top: 10px;
    margin-left: 20px;
    font-family: iconT;
    font-variant: small-caps;
}
.mainIcon a{
    text-decoration: none;
    color: black;
}
.mainIcon a:hover {
    color: #A60425FF;
}
.r{
    width: 100%;
    margin-left: 0px;
    padding: 60px 10px;
}
.c ,.q {
    float: left;
    width: 33.33%;
    position: relative;
    padding: 30px;
  }
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
  }
  /* Clear floats after image containers */
  .r::after {
    content: "";
    clear: both;
    display: table;
  }
  img {
    opacity: 1;
  }
#c1{
	
	transition: transform .2s ease;
}
#c1:hover{
	border: solid 2px #fff;
    transform: scale(1.1);
    opacity: 0.5;
}
.container {
    text-align: center;
    padding: 10px 20px;
}
.charging_content{
    padding: 70px 20px;
}
.huge img{
    width: 100%;
}
.charging_content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    flex-direction: column;
    padding: 50px 0;
}
.content{
    padding: 90px;
}

#modal2 , #modal1 ,#modal3 , #modal4 , #modal5 ,#modal6 , #modal7 ,#modal8{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal__window2 , .modal__window1 ,.modal__window3 , .modal__window4 , .modal__window5 ,.modal__window6 ,.modal__window7 ,.modal__window8{
    position: relative;
    background-color: white;
    padding: 10px 0px;
  }
  
  .modal__close2 ,  .modal__close1 , .modal__close3 ,  .modal__close4 , .modal__close5 , .modal__close6 , .modal__close7 , .modal__close8{
    position: absolute;
    top: -30px;
    right: 0;
  }
  #modal2:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal1:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal3:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal4:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal5:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal6:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal7:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#modal8:not(:target) {
    visibility: hidden;
    opacity: 0;
}
.Apparel{
    padding: 70px 20px;
}
.container-fluid {
    padding: 90px;
}
.desc {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1px;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  #Accessorise {
    padding: 70px 20px; 
  }
 
