@font-face {
    font-family: myFirstFont;
    src: url(/res/TESLA.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
}
li {
    cursor: pointer;
    margin: 10px 4px;
    padding: 0px 10px;
}
header {
    background-color: rgba(1, 1, 1, 0);
    display: flex;
    position: fixed;
    animation-duration: 1s;
    animation-name: headerAnimation;
    z-index: 1;
}


@keyframes headerAnimation {
    from {
        margin-top: -30px;
    }
    to {
        margin-top: 0px;
    }
}
.spacingDivHeader {
    display: flex;
    margin-left: 140px;
}


li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #D7E7EDFF,
        0 0 1px #D7E7EDFF,
        0 0 1px #D7E7EDFF,
        0 0 1px #D7E7EDFF,
        0 0 1px #D7E7EDFF;
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }  
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


li a:hover{
    text-decoration: none;
    color: #A60425FF;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    
}

